<div class="form-actions">
  <a class="button" href="{{ path('grafisk_service_order.order_address_label', {'id': order.id, 'uuid': order.uuid.value}) }}" target="address_label">
    {{ 'Print address label' | t }}
  </a>
</div>
