/**
 *
 * File upload widget
 *
 */


/* Upload styles
================================================================================================================== */

.upload {
  &--inner {
    padding: 1em;

    background: $gray-lighter;
    border-radius: .3em;
  }

  // Uploaded files table
  table {
    margin-bottom: 1em;
    width: 100%;

    .button {
      font-size: 75%;
      padding: .5em;
      width: 5em;
      float: right;
    }
  }

  tr {
    border-bottom: 1px solid $gray-light;
  }

  td {
    padding: .5em 0;
  }

  &--file {
    text-align: center;

    input[type="file"] {

      color: $gray-dark;
      height: 7em;
      border: 1px dotted $gray-dark;
      background: $white;
      margin-top: .3em;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $white;
        background-position: center 25px;
        background-image: url("../images/upload.svg");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        padding: 1em;
        text-align: center;
      }

      &.has-file:before {
        content: attr(data-content);  // From filefield.js
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $white;
        background-position: center 60px;
        background-image: url("../images/check-circle.svg");
        background-repeat: no-repeat;
        background-size: 70px 70px;
        padding: 1em;
        text-align: center;
      }
    }

    .form-submit {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 8em;
    }
  }

  &--description {
    margin: 1em .5em 0 0;
  }
}


// HACK!
[id ^= "edit-field-gs-files"][id $= "-ajax-wrapper"] {
  @include flex(0, 0, 100%);
}

.tabledrag-toggle-weight-wrapper,
.tableresponsive-toggle-columns,
.tabledrag-handle {
	display: none;
}
