{% set email_adress = 'GrafiskService@mkb.aarhus.dk' %}
<h1 class="confirmation--header"><i class="confirmation--icon"></i>{{ 'Tak for din bestilling!' | trans }}</h1>
<div class="confirmation--text">
  <p>Du har modtaget en bekræftelse på din bestilling, og du hører fra os.</p>
  <p>Har du spørgsmål, kan du skrive til <a href="mailto:{{ email_adress }}">{{ email_adress }}</a></p>
  Venlig hilsen<br>
  Grafisk Service
</div>
