<div class=" form--flex-wrapper form--checkbox-wrapper">
  <input{{ attributes }} />
  <label class="form--checkbox-label" for="{{ element['#id'] }}">Borgerservice og bibliotekers markedsføringskonto?</label>

  <a href="#" class="form--read-more js-toggle-modal"></a>
  <div class="modal js-modal is-hidden">
    <div class="modal--dialog js-modal-dialog is-hidden">
      <div class="modal--content">
        <div class="form--label">Markedsføringskonto</div>
        <div>
          Markedsføringskontoen er en pulje i Borgerservice og Biblioteker til borgerrettet information om arrangementer og kurser i bibliotekerne samt generelle borgerservicekampagner.
        </div>
        <div class="buttons--container">
          <a href="#" class="button modal--close js-toggle-modal">
            Luk
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
