/**
 *
 * Set the fonts for the project.
 *
 */


/* Font styles
================================================================================================================== */

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}