/**
 *
 * Variables
 *
 */


/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:              481px;
$breakpoint-tablet:           720px;
$breakpoint-desk:             1024px;
$breakpoint-bigscreen:        1500px;


/* Layout
   ================================================================================================================== */

$layout-max-width: 1000px;


/* Elements
   ================================================================================================================== */

$nav-height:  80px;


/* Colors
   ================================================================================================================== */

$theme-color:             #FF7000;
$theme-color-secondary:   #4196E0;

$black:            #000;
$white:            #fff;

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 90%);
$gray-light:       lighten($black, 75%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 12%);

$link-color:       $theme-color-secondary;
$link-color-hover: darken($link-color, 15%);
$error-color:      red;


/* Typography
   ================================================================================================================== */

$font-default:     'Arial, sans-serif';
$font-normal:      'Open Sans', $font-default;
$font-light:       'Open Sans Light', $font-default;
$font-semibold:    'Open Sans semibold', $font-default;
$font-bold:        'Open Sans Bold', $font-default;
$font:             1em/1.5 $font-light;