<div class="form--phone-field-wrapper form--flex-wrapper">
  <input{{ attributes.setAttribute('type', 'tel').setAttribute('size', 12).setAttribute('pattern', '( *\\d\\d){4}').setAttribute('title', 'Indtast 8 cifre').addClass('form--phone-field-input') }} />
  <div class="form--phone-field-prefix">+45</div>
</div>
