/* Please move these hacks somewhere else */

/* Hide unwanted elements in managed file control */
.upload--file .form--label,
/* The file input element */
.upload--file .form-file,
/* The upload button */
.upload--file .form-submit,
/* Files table stuff */
.tabledrag-toggle-weight-wrapper,
.tableresponsive-toggle-columns,
.tabledrag-handle,
/* Hide our custom "Select files" button in files table */
table .js-select-files {
	display: none;
}

.form-item-field-gs-marketing-account-value .form--label {
	visibility: hidden;
}

.form--item.hide-label .form--label {
	display: none;
}

.buttons--container.file-upload-in-progress {
  opacity: 0.5;
}

html body form input.error {
  background-color: #ffbaba !important;
  border: 1px solid #ff3b3b !important;
  color: ba0000 !important;
}

.buttons--container {
  text-align: right;
  display: block;
}

.grafisk-service-has-errors .form--label {
  color: #ff3b3b !important;
}

.grafisk-service-has-errors input {
  background-color: #ffbaba !important;
  border: 1px solid #ff3b3b !important;
}

/* Hide status messages on order view page */
.page-node-type-gs-order .itk-status-messages {
  display: none;
}
